tqdm
mmcv
ftfy
rich
numpy
scipy
regex
PyYAML
openmim
faiss-cpu
torchaudio
scikit-learn
opencv-python
git+https://github.com/open-mmlab/mmcv.git
--extra-index-url https://download.pytorch.org/whl/cu121
torch 
torchvision
